
body {
    
      font-family: 'Lato', sans-serif;
      margin:0;
      background-color: #4646af;
}


nav {
    background-color: #4646af;
    overflow: hidden;
    padding: 14px 20px;
    border-bottom: 0.5px solid #ddd;
}

nav a {
    text-decoration: none;
    font-family: 'lato' sans-serif;
    font-weight: 400;
    color:#fff;
    display: block;
    padding: 14px 20px;
}

nav a.menu_left {
    float: left;
}

nav a.menu_right {
    float: right;
}

nav a:hover {
    color:#fff;
    background-color: black;
    border-radius: 30px;
}

#left_side {
    flex:50%;
    padding:10px 20px;
 }

 #can {
    font-size: 80px;
    font-weight: bold;
    color:#fff;
    margin: 24px 24px 32px 24px;
 }
 .climate {
    color: #dbef5d;
 }

 #clean {
    color: #fff;
    margin: 24px 24px 32px 24px;
 }
  #get {
    color:#000;
    background-color: #fff;
    padding: 12px 24px;
    border:none;
    border-radius: 30px;
    margin: 0 16px 24px 24px;
  }

  #get:hover {
    color:#fff;
    background-color: #000;
  }

  #play {
    color:#fff;
    background-color: #000;
    padding: 12px 24px;
    border:none;
    border-radius: 100px;
    margin: 0 16px 24px 0px;
  }
  #play:hover {
    color:#000;
    background-color: #fff;
  }

  #see {
    color: #fff;
  }



#right_side {
    flex:50%;
    padding:10px 20px;
}

.margin1 {
    background-color: #fff;
    width: 10rem;
    height:10rem;
    padding: 48px;
    margin: -280px 24px 24px 24px;
    border-radius: 15px;

}

#energy {
    color: #000;
    margin: auto auto;
    font-size: 16px;
    text-align: center;
}

img {
    width: 60%;
    margin: 48px 24px 24px 250px;
    border-radius: 15px;
}

.logo {
    margin: 24px;
}
#flex_container {
    display:flex;
    flex-wrap:nowrap;
}




